.root{
    -fx-background-color: rgba(220, 220, 220, 0.99);
    -fx-font-size: 16px;
    -fx-text-fill: #474747;
}

.title {
    -fx-background-color: #dcd7d7;
    -fx-padding: 8px;
    -fx-min-height: 60px;

    -fx-font-family:"Lucida Console";
    -fx-background-color: rgb(0, 158, 192);
    -fx-text-fill: #fcfcfc;
}

.main-title{
    -fx-background-color: #dcd7d7;
    -fx-padding: 10px;
    -fx-min-height: 80px;
    -fx-min-width: 960px;
    -fx-font-size: 28px;
    -fx-font-family:"Lucida Console";
    -fx-background-color: rgba(18, 147, 201, 0.9);
    -fx-text-fill: #fcfcfc;
}
/* applies to all field with class of textbox */
.text {
    -fx-min-height: 40px;
    -fx-min-width: 250px;
    -fx-border-radius: 0;
}

.button{
    -fx-text-fill: cadetblue;
    -fx-min-height: 40px;
    -fx-min-width: 60px;
}

/***** Login View Specific *****/
#loginForm #userNameField, #loginForm #passwordField {
    -fx-font-size: 15px;
    -fx-text-fill: #474747;
}

#loginForm .title{
    -fx-min-width: 444px;
    -fx-font-size: 24px;
    -fx-background-color: #1a8bff;
}

/******** Main Form Specific ********/
#timeLabel{
    -fx-background-color: #1a8bff;
    -fx-font-size: 16px;
    -fx-text-fill: #fcfcfc;

}

#userStatusLabel,#bookStatusLabel{
    -fx-background-color: #fdfdfd;
    -fx-font-size: 24px;
    -fx-text-fill: #59a3ff;
    -fx-padding: 10px;
    -fx-min-width: 250px;
    -fx-min-height: 60px;
    -fx-border-color: #4e97ff;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-text-alignment: center;

}

#editMemberButton,#addMemberButton{
    -fx-font-size: 16px;
    -fx-max-height: 60px;
}
/******** Add Member Form *******/

#addMemberForm .title{
    -fx-min-height: 60px;
    -fx-min-width: 600px;
}

/*********** Add Book Copy Form ********/
#addBookCopyForm .title{
    -fx-min-height: 60px;
    -fx-min-width: 600px;
}


/****************** Check out Form ************/
#checkoutForm .label{
    -fx-text-fill: #474747;
}

/************* ****************/

